<h2 class="page-header">Kitap Düzenle</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="post">
  <%- include('_form_fields') %> 
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">İptal</a>
    <button class="btn btn-primary" type="submit">Güncelle</button>
  </div>
</form>