<header>
	<nav class="header-nav">
		<a class="header-title" href="/">x-Arşiv</a>
		<ul>
			<li><a href="/authors">Yazarlar</a></li>
			<li><a href="/authors/new">Yazar Ekle</a></li>
			<li><a href="/books">Kitaplar</a></li>
			<li><a href="/books/new">Kitap Ekle</a></li>
		</ul>
	</nav>
</header>